/* Color palette:
- black: #191919
- marroon: #750e21
- orange: #e3651d
- green: #bed754 */

body {
  margin: 0;
  background: #191919;
  color: #bed754;
  font-family: monospace;
  font-size: 1rem;
}

strong {
  font-weight: bolder;
}

#root {
  padding: 4rem;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  border-color: #bed754;
}

input {
  background: inherit;
  color: inherit;
  border-radius: 4px 0 0 4px;
}

button {
  background: #bed754;
  color: #191919;
  border-radius: 0 4px 4px 0;
}
