/* Color palette:
- black: #191919
- marroon: #750e21
- orange: #e3651d
- green: #bed754 */

body {
  margin: 0;
  background: #191919;
  color: #bed754;
  font-family: monospace;
  font-size: 1rem;
}

strong {
  font-weight: bolder;
}

#root {
  padding: 4rem;
}
